* {
    box-sizing: border-box;
  }
/* * {
    border: 1px solid red !important;
} */
.youOwn {
    width: 300px;
    float: right; 
    position: absolute;
    margin: 15px;
}
.index_item_box {
    border: 1px solid rgb(196, 189, 189);
    border-radius: 25px;
    height: 310px;
    /* overflow: scroll; */
    width: 750px;
    margin: auto;
    margin-top: 50px;;
    padding: 10px 10px 60px 10px;
    min-width: 100px;
  
}
.item_image {
    border: 1px solid rgb(196, 189, 189);
    border-radius: 25px;
    max-width: 250px;
    /* background-color: blueviolet; */
    overflow: scroll;
    position: relative;
    margin-left: 15px;
}

.item_image {
    width: 200px;
    object-fit: scale-down;
}

.listImage{
    height: 200px;
}

.description {
    
    float: right;
    /* border: 1px solid black; */ 
    width: 400px;
    min-width:100px;
    height: 200px;
    overflow: scroll;
    position: relative;
    bottom: 280px;
    right: 50px;
    clear: right;
}

.starting_bid {
    float: right;
    position: relative;
    color: red;
    margin-right: 10px;  
    
}

#list_hr {
    padding-top: 30px;
    width: 50%;
    margin: auto;
}