{% extends "auctions/layout.html" %}

{% block body %}
<h3>Contents</h3>
{% if not cate %}
    no items
{% else %}
    {% for item in cate %}
    <div id="indexItemName">
        <h4>{{ item.item }}</h4>
        {{item.user}}
    </div> 
    <div class="p-4">

        <div class="col-md-6 mb-4">
          {% if item.image %}
            <img src="{{ item.image }}" alt="{{ item.item }}" width="200" >
          {% else %}
            <p>Seller has not uploaded any pictures of this item.</p>
          {% endif %}
          </div>

        <p class="lead">Starting bid
          <span class="mr-1">
            {{ item.starting_bid | floatformat:2 }}</span>
        </p>

        <p class="lead font-weight-bold">Description</p>
        
        <p>{{ item.description }}</p>
        <a href="{% url 'listing' item.id %}">See listing for {{ item }}</a>

      </div>
    {% endfor %}
{% endif %}
{% endblock %}