
{% for item in items %}
<div class="index_item_box">
  
  {% if user == item.user %}
  {{ item.user }}
    <p>You own this.</p>
  {% endif %}
  <div class="indexItemName">
    <h4>{{ item.item }}</h4>
  </div>

  <div class="item_image">
    {% if item.image %}
      <img src="{{ item.image }}" alt="{{ item.item }}" width="200" >
    {% else %}
      <p>Seller has not uploaded any pictures of this item.</p>
    {% endif %}
  </div>
  <div class="starting_bid">
    <p>Starting bid
      <span class="mr-1">
        {{ item.starting_bid | floatformat:2 }}</span>
    </p>
  </div>

  <div class="description">
    <h5>Description</h5>
    
    <p>{{ item.description }}</p>
  </div>
  <a href="{% url 'listing' item.id %}">See listing for {{ item }}</a>

</div>
<hr id="list_hr">
{% endfor %}