{% extends "auctions/layout.html" %}
    <title>{% block title %}Listing{% endblock %}</title>
{% block body %}
    <!-- Displays message if bid wasn't high enough -->
    <div id="bidMessage">
        {% if message %}
            <h3 id="notEnough">Sorry that bid was not high enough, try agian with a higher bid.</h3>
        {% endif %}
    </div>

    <!-- Displays the category, if one was selected when creating a listing. -->
    <div id="itemDeets"> 
        Listed by {{item.user | title }}, 
        {% if item.category %}
            catergory: {{category}}
        {% else %}
            <br>
            catergory: No category selected.
        {% endif %}
    </div>  

<!-- Contains all the info about the listing -->
<div class="listingBox">
    
    <h3>{{ item.item }}</h3>
    <!-- Displays image, if one was uploaded when creating listing -->
    <div class="listing_image">
        {% if item.image %}
            <div>   
                <img id="item_image" src="{{item.image}}" alt="{{item.item}}" width="500">
            </div> 
        {% else %}
            <div id="nopic" class="listing_item">
                Seller has not uploaded any pictures of this item.
            </div>
        {% endif %}
    </div>

    <!-- Displays the item description. -->
    <p class="listP">Description</p>
    <div id="description" class="listing_item" >
        {{ item.description }}
    </div>

    <!-- Displays the starting bid, adn current bid, if any have been made -->
    <p class="listP">Pricing and bids</p>
    <div id="current_value" >
        {% if price %}
            <div class="listing_item_value" >
                starting bid was: {{ item.starting_bid | floatformat:2 }}
            </div>
            <div class="listing_item_value" >
                current price: {{ price | floatformat:2}}
            </div>
        {% else %}
            <div class="listing_item_value" >
                starting bid: {{ item.starting_bid | floatformat:2}}
            </div>
        {% endif %}
    </div>

    <!-- Allows a logged in user to bid in item, if they are not the owner, and if there is not a winner -->
    {% if isuser and item.user != user %}
        {% if not winner %}
        <form id="bid" action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <input name="bidding" type="submit" value="Bid"> 
        </form>
        {% endif %}
    {% endif %}
    
    <!-- Displays any comments that may have been made about the listing -->
    <p class="listP">Comments</p>
    <div id="comments">
    {% if user_comments %}
        {% for comment in user_comments %}    
            {{ comment.user_commented }} said: <br>
            {{ comment.comment }}<br>
            <br>
        {% endfor %}
    {% endif %}
    </div>

    <!-- Comment form -->
    {% if isuser %}
        <div id="comment">
            <form id="comment" action="" method="POST">
                {% csrf_token %}
                {{ comments }}
                <input type="Submit" value="submit"/>
            </form>
        </div>
    {% endif %}

    <!-- Allows a logged in user, who isn't the owner, to watch the item, if there isn't a winner -->
    {% if isuser %}
        {% if user != owner %}
            {% if not winner %}
                <form id="watch_button" action="" method="POST">
                    {% csrf_token %}
                    
                    {% if not watched %}
                        <input type="Submit" name="Watch" value="watch"/>
                    {% else %}
                        <input type="Submit" name="unWatch" value="Unwatch"/>
                    {% endif %}
                </form>
                <!-- If user is logged in and is the winner, this tells them so. -->
                {% else %}
                    <h3>This auction is closed.</h3>
                {% if user == winner %}
                    <h3> {{ winner }}, you are the winner!</h3>
                {% endif %}
            {% endif %}
        {% else %}
            <!-- Allows logged in user, who is the owner to close the auction, if there has been a bid. -->
            {% if not winner %}
                {% if price %}
                    <form id="bid" action="" method="POST">
                        {% csrf_token %}
                        <input name="close" type="submit" value="close Auction"> 
                    </form>
                {%endif%}
            <!-- Display message, declaring the auction closed and who the winner is. -->
            {% else %}
                <div id="winner">
                    <h3>This auction is closed, {{winner}} is the winner.</h3>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
</div>
<hr>
<br>
{% endblock %}