{% extends "auctions/layout.html" %}
    <title>{% block title %}Listing{% endblock %}</title>
{% block body %}
    
    {{ item }}
    {% if isuser %}
        {% if user != owner %}
        <form id="watch_button" action="" method="POST">
            {% csrf_token %}
            <!-- checks if a user is logged in -->
            
                {% if not watched %}
                    <input type="Submit" name="Watch" value="watch"/>
                {% else %}
                    <input type="Submit" name="unWatch" value="Unwatch"/>
                {% endif %}
            
        </form>
        {% if message %}
            sorry that bid was not high enough, try agian with a higher bid.
        {% endif %}
        <form id="bid" action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <input name="bidding" type="submit" value="Bid"> 
        </form>
        {% endif %}
        {% endif %}
{% endblock %}