{% extends "auctions/layout.html" %}
<title>{% block title %}New Listing{% endblock %}</title>
{% block body %}
    <h2 id="newLisitngTitle">Create A New Listing</h2>
    
    <!-- form to create a new lisitng -->
    <form class="newListing" action="{% url 'new_listing' %}" method="post">
        {% csrf_token %}
        {% for element in form %}
            {{ element.label_tag }}
            <div class="element">
                {{ element }}
            </div>
        {% endfor %}
        <div>
            <input class="sub" type="submit" value="Submit entry"> 
        </div>
    </form>

{% endblock %}